.password-generator {
  margin: 10% 30%;
  width: 90%;
  max-width: 700px;
}

.password-display {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
  background: #fff;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 20px;
  border-radius: 5px;
}

.password-display img {
  width: 30px;
  cursor: pointer;
}

.password-display input {
  border: 0;
  outline: 0;
  font-size: 24px;
}

.password-generator h1 {
  font-weight: 500;
  font-size: 44px;
}

.password-generator h1 span {
  color: #019f55;
  border-bottom: 4px solid #019f55;
  padding-bottom: 7px;
}

.password-generator button img {
  width: 28px;
  margin-right: 10px;
}

.password-generator button {
  border: 0;
  outline: 0;
  background: #019f55;
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 26px;
  border-radius: 5px;
  cursor: pointer;
}

.password-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  gap: 10px;
}

.option-field,
.password-length-field {
  display: flex;
  align-items: center;
}

.password-length-field label {
  font-size: 18px;
  font-weight: 300;
  margin-right: 10px;
}

.password-length-field input {
  width: 100px;
  padding: 16px 20px;
  border: 0;
  outline: 0;
  font-size: 18px;
  border-radius: 5px;
}

.option-field input {
  width: 100%;
  padding: 16px 20px;
  border: 0;
  outline: 0;
  font-size: 18px;
  border-radius: 5px;
}

.option-field label {
  font-size: 18px;
  font-weight: 300;
}

.password-generator button[disabled] {
  background-color: lightgray;
}
